
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BoVoyages</title>
</head>
<body>
    <div>
        <center>
            <h1>BoVoyages</h1>
            <p>
                <table>
                    <tr>
                        <td>
                            <br />
                            <a href="ListVoyages">Voyages</a>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <a href="ClientLogin">Clients</a>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <a href="CommercialLogin">Commercial</a>
                            <br />
                        </td>
                    </tr>
                </table>
            </p>
        </center>
    </div>
</body>
</html>
