
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BoVoyages - Voyages</title>
</head>
<body>
    <div>
        <center>
            <h1>BoVoyages - Liste de toute les voyages disponible</h1>
            <p>
                <table border="1" width="800">
                    <tr>
                        <td>
                            <br />
                            <center>
                                <b>Voyage id</b>
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                <b>Date Aller</b>
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                <b>Date Retour</b>
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                <b>Place Disponible</b>
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                <b>Tarif</b>
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                <b>Pays</b>
                            </center>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <center>
                                1234
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                10/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                17/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                5
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                1 500 €
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                Russia
                            </center>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <center>
                                1234
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                10/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                17/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                5
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                1 500 €
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                Russia
                            </center>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <center>
                                1234
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                10/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                17/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                5
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                1 500 €
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                Russia
                            </center>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <center>
                                1234
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                10/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                17/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                5
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                1 500 €
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                Russia
                            </center>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <center>
                                1234
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                10/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                17/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                5
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                1 500 €
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                Russia
                            </center>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <center>
                                1234
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                10/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                17/02/2019
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                5
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                1 500 €
                            </center>
                            <br />
                        </td>
                        <td>
                            <br />
                            <center>
                                Russia
                            </center>
                            <br />
                        </td>
                    </tr>
                </table>
            </p>
        </center>
    </div>
</body>
</html>
